<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Casa Digital', stylesheet: "/css/products.css"}) %>
<body>
    <!-- Include Header -->
    <%- include ('../partials/header.ejs') %>
  <main>
    <div class="main-contenedor">
        <div class="carrousel">
          <img src="/images/products/sale2.jpg" class="responsive-img">
        </div>    
        <div class="div-separadores">
          <p class="separadores"><%= community %></p>
        </div>
        <div class="row">
          <% for (product of products) {%>
            <% if (product.course_owner == community) { 	%>
              <div class="column tooltip">
                <a class="link" href="/products/<%= product.id %>/productDetail"><img class="responsive-img" src="/images/products/<%= product.image %>" alt="Imagen del curso"></a>
                <span class="tooltiptext">
                  <div class="course-title"><%= product.course_title %></div>
                  <div class="teacher-badge">
                    <p class="teachers-text">
                        Dictado por: <%= product.course_owner %>
                    </p>
                  </div>
                  <div class="audio"><i class="fas fa-volume-up"></i>
                    Audio: <%= product.audio.audioLang %> 
                  </div>
                  <div class="subtitle">
                    <i class="far fa-closed-captioning"></i>
                      <% for (let i = 0; i < product.subtitles.length; i++) { %>
                        <%= product.subtitles[i].ccLang %>
                      <% } %>
                      </div>
                  <div class="price-col">
                    <% let finalPrice = product.price - (product.price * product.discount / 100); %>
                    <% if (product.discount > 0) { 	%>
                        <div class="price-badges">
                            <span class="badge"> REBAJAS </span>
                            <span class="price-discount"> <%= product.discount %>  % Dto. </span>
                            <span class="price-code"> <%= product.currency.currency %> </span>
                            <span class="discounted-price"> <%= product.price %></span>
                        </div>
                        <div class="item-price">
                            <span class="price-code"> <%= product.currency.currency %> </span>
                            <span class="price"> <%= toThousand(finalPrice.toFixed(0)) %></span>
                        </div>
                    <% } else {  %>
                        <div class="item-price">
                            <span class="price-code"> <%= product.currency.currency %> </span>
                            <span class="price"> <%= toThousand(finalPrice.toFixed(0)) %></span>
                        </div>
                    <% } %>   
                  </div>
                </span>
              </div>
            <% } %>
            
          <% } %>
        </div>   
    </div>
  </main>
  <!-- Include Footer -->
  <%- include ('../partials/footer.ejs') %>
</body>
</html>